body {
    position: relative;
}

.big-box {
    width: 85%;
    display: block;
    margin: 3% auto 3% auto;
}

.half-box {
    width: 49%;
    border-style: inset;
}

.little-box {
    background: rgba(30, 30, 30, 0.7);
    font-family: 'Merriweather', serif;
    color: white;
    border: solid 4px white;
    border-style: inset;
    text-align: center;
    box-shadow: 4px 4px 10px #A6A;
}

.little-box p {
    color: #BBB;
    /*text-indent: 40px;*/
    text-align: left;
    margin: 3%;
}

.little-box img {
    margin: 3% 3% 3% 4%;
    max-height: 250px;
    max-width: 300px;
    border-radius: 10px;
}

.logo {
    text-align: center;
}

.paratitle {
    background: rgba(00, 0, 0, .5);
    color: #A6A;
    font-family: 'Nunito', serif;
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    border: 1px 1px 1px black;
}

.hero-background {
    background: url("https://wallpaperscraft.com/image/patterns_background_dark_texture_50408_2560x1600.jpg") no-repeat center center fixed;
    /*background: #333377;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: auto;
    min-width: auto;
}

.transbox {
    border-style: double;
    font-style: 'Nunito', sans-serif;
    background-color: #CCC;
    float: left;
}

nav {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 150%;
    text-align: center;
    z-index: 100;
    width: 80%;
    height: 5%;
    position: fixed;
    top: 0px;
    margin: 0 10%;
    background: rgba(117, 61, 117, 0.7)
}

nav a {
    text-decoration: none;
    transition: background-color 0.5s, transform 1s, color .5s;
    background-color: rgba(60, 60, 60, .7);
    color: #A6A;
    height: 70%;

    margin: .25% 2%;
    padding: 0 2% 0 2%;
    border: solid white 5px;
    border-radius: 10px;
    display: inline-block;

}

nav a:hover {
    color: black;
    background-color: #DDD;
    transform: scale(1.1);
    border-color: #555;
    box-shadow: 0px 1px 5px black;
}

nav a img {
    max-width: 40px;
    position: relative;
    top: 8px;
    left: -10%;
}

p {
    opacity: 1;
    font-size: 1.2em;
    margin: 20px auto 20px auto;
}

h4 {
    text-align: center;
    margin: 10px;
}

h5 {
    text-align: center;
}


.hero-img{
    border: 2px solid white;
    box-shadow: 0 2px 8px white;
    display: block;
      margin: 120px auto 20px auto;
    background: black;
    transition: filter .6s;
    /* width: 600px;
    height: 600px; */
    width: 40%;
    height:auto;
    max-width: 800px;
}
/* 
.hero-img:hover {
    z-index: 0;
    filter: brightness(.5);
} */


a {
    color: #a6a;
    text-decoration: none;
}

a:hover {
    color: #F7F;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
canvas{
    background-color: gray;
    padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}
